<div class="bread-crumbs">
    <div>
        <a href="/menu/">Home / </a>
        <a href="/menu/{{menu._id}}">{{menu.name}} / </a> {{section.name}}
    </div>
</div>

<section class="content">
    <div class="show">
         <h1 class="title-wrap">{{section.name}} - Section </h1>
        <div class="menu-buttons">
            <a href="/menu/{{menu._id}}/section/{{section._id}}/edit" class="button yellow-button">
                Edit
            </a>

            <form action="/menu/{{menu._id}}/section/{{section._id}}?_method=DELETE" method="POST" class="button red-button">
                <button type="submit">Delete</button>
            </form>
            <a href="/menu/{{menu._id}}/section/{{section._id}}/item/new" class="button green-button">Add Item</a>
        </div>
    </div>
</section>