<div class="bread-crumbs">
    <div>
        <a href="/menu/">Home / </a>
        <a href="/menu/{{menu._id}}">{{menu.name}} / </a> Edit
    </div>
</div>

<section class="content">
    <div class="show new">
        <h1 class="title-wrap">Edit Menu</h1>

        <form action="/menu/{{menu._id}}?_method=PUT" method="POST" >
            <div>
                <label for="name">Name of the restaurant</label>
                <input type="text" name="name" value="{{menu.name}}" />
            </div>

            <div>
                <label for="category">Type of restaurant</label>
                <input type="text" name="category" value="{{menu.category}}" />
            </div>

            <div>
                <label for="picture">Picture</label>
                <input type="text" name="picture" value="{{menu.picture}}" />
            </div>

            <button type="submit" class="button green-button">Update</button>
        </form>
    </div>

</section>