<h1>All Menus</h1>

<ul>
    {{#each listOfMenus}}
    <li>
        <h2>{{name}} - {{category}}</h2>
        <ul>
            {{#each menu_section}}
            <h2>{{name}}</h2>
            <ul>
                {{#each menu_items}}
                <li>{{name}} ------------- ${{price}}</li>
                <li>{{description}}</li>
                <img src="{{picture}}" alt=""> 
                {{/each}}
            </ul>
            {{/each}}
        </ul>
        <img src="{{picture}}" alt="">
    </li>
    {{/each}}
</ul>
